<h1>YouTube Video Sentiment Analyzer</h1>
<input id = 'video_link_1' type="text">
<input id = 'video_link_2' type="text">
<button id = 'submit'>Send</button>

<div class="blockquote">
"This interview is great as the man clearly able to give as much witty humour as Sam.﻿"
</div>
<div id="container">

</div>
<div class="blockquote">
"Jeez Samantha Bee, you're my favorite person right now!﻿"
</div>
