<h1>YouTube Video Sentiment Analyzer</h1>
<input id = 'video_link_1' type="text">
<input id = 'video_link_2' type="text">
<button id = 'submit'>Send</button>
<div id="loading"></div>
<h3>Sorting Controls</h3>
<div class="sortButtons">
  <button class="button" type="button" data-sortType="original-order">Original Order</button>
  <button class="button" type="button" data-sortType="name">Sort by Tone</button>
  <button class="button" type="button" data-sortType="score">Sort by Score</button>
</div>

<div class="blockquote">
"This interview is great as the man clearly able to give as much witty humour as Sam.﻿"
</div>
<div id="container1"></div>
<div id="container2"></div>
<div class="blockquote">
"Jeez Samantha Bee, you're my favorite person right now!﻿"
</div>
