/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import 'https://fonts.googleapis.com/css?family=Bad+Script';

 body {
   font-family: sans-serif;
 }

.specific-video-analysis {
  /*border: 1px solid black;*/
  display: block;
  margin: 0 auto;
  /*padding: 5px;*/
  text-align: center;
}

.main-category {
  display: inline;
}

#container1, #container2 {
  margin: 0 auto;
  text-align: center;
  width: 94%;
}

.sub-category {
  /*border: 1px solid black;*/
  display: inline-block;
  width: 90px;
  height: 90px;
  font-size: 14px;
}

.blockquote {
  color: grey;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 36px;
  font-family: 'Bad Script', cursive;
}
